{% extends 'bitcourse/base.html' %}
{% block title %}
Contact Us
{% endblock title %}
{% block content %}
<h1 class="my-4 ms-5"> Contact  </h1>
<div class="section ms-5">
<p class=""> Are you willing to contact BIT COURSE NEPAL ? You can contact us from the information below
</p>
<ul class="ms-5">
    <li> Phone: 9811375813</li>
    <li>Email: <a href="mailto:pravatjungbasnet@gmail.com">Pravajungbasnet@gmail.com </a></li>
</ul>

 
</div>
<section class="ms-5 ">
    <p> Why contacting us?</p>
    <ul>
        <li>If you want to correct us </li>
        <li>If you want to ask something to us</li>
        <li>If you want to provide us notes </li>
    </ul>
    <br>
    <br>
    <br>
    <br>
    <br>
</section>





{% endblock content %}