<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Semester</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'notice' %}">Notices</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'con' %}">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About Us</a>
          </li>
         
            
            <li class="dropdown-menu">Semester
              <a class="dropdown-item" href="#">First Semester</a>
              <a class="dropdown-item" href="#">Second Semester</a>
              <a class="dropdown-item" href="#">Third Semester</a>
              <a class="dropdown-item" href="#">Fourth Semester</a>
              <a class="dropdown-item" href="#">Fifth Semester</a>
              <a class="dropdown-item" href="#">Sixth Semester</a>
              <a class="dropdown-item" href="#">seventh Semester</a>
              <a class="dropdown-item" href="#">Eight Semester</a>
            </li>
          
             
            </div>
          </li>
         
          
    
       
      </div>
    </div>
  </nav>